# --- System Files ---
.DS_Store
Thumbs.db

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# --- Environment & Secrets ---
.env
.env.local

# --- Logs ---
*.log
logs/

# --- Infrastructure Data (QUAN TRỌNG) ---
infra/nginx/
infra/letsencrypt/
infra/duckdns/
mysql/
data/database.sqlite
full_system_context.txt
